<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="card-container">
      <div class="card" id="authCard">
        <!-- Front - Sign In -->
        <div class="card-face card-front">
          <div class="gradient-border">
            <div class="card-content">
              <h2>Sign In</h2>
              <input type="text" placeholder="name" required>
              <input type="text" placeholder="Route number" required>
              <input type="password" placeholder="Password" required>
              <button>Sign In</button>
              <p>Don't have an account? <span class="toggle-btn">Sign Up</span></p>
            </div>
          </div>
        </div>
        
       
        <!-- Back - Sign Up -->
        <div class="card-face card-back">
          <div class="gradient-border">
            <div class="card-content">
              <h2>Sign Up</h2>
              <input type="text" placeholder="Name" required>
              <input type="email" placeholder="Roll number" required>
              <input type="password" placeholder="Password" required>
              <button>Sign up</button>
              <p>Already have an account? <span class="toggle-btn">Sign In</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
